* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    background-color: #f5f7fa;
}

.wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 40px auto;

    background-color: #fff;    
    box-shadow: 5px 8.7px 20px 0 rgba(0, 0, 0, 0.15);
}

.left-col {
    flex-shrink: 0;
    width: 20em;
}

.right-col {
    flex-grow: 1;
}

.personal {
    padding: 1em;
    background-color: #2d2d2d;
    color: #c9c9c9;
}

.personal__photo {
    width: 18em;
}

.personal__section {
    padding: 1em;
}

.personal__section:first-of-type {
    margin-top: 2em;
}

.personal__section::after {
    content: '';
    display: block;
    margin-top: 1em;
    width: 100%;
    border-bottom: 1px solid #c9c9c9;
}

.personal__title {
    margin-bottom: 1em;
    color: #6eb9a0;
}

.personal__list {
    margin-left: 1em;
}

.personal__list > li {
    margin-bottom: .8em;
}

.personal__link {
    color: #6eb9a0;
}

.education-title {
    color: #dadada;
}




.header {
    width: 100%;
    height: 8em;
    padding: 1em;

    background-color: #1e2939;
    color: #fff;
}

.header__title {
    margin-left: auto;
    margin-right: auto;
}

.main {

}
